{erl_opts, [debug_info,
            {parse_transform, lager_transform},
            {parse_transform, ejson_trans},
            {d, lager}
]}.
{deps, [
    {ejson, {git, "https://github.com/jonasrichard/ejson.git", {branch, "master"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}},
    {mixer,          {git, "https://github.com/inaka/mixer.git", {tag, "0.1.5"}}},
%   Use inaka's client as long as R18 is not supported by basho
%    {riakc, {git, "https://github.com/basho/riak-erlang-client.git", {tag, "2.1.1"}}},
    {riakc, {git, "https://github.com/inaka/riak-erlang-client.git", {branch, "master"}}},
    {lager, {git, "https://github.com/basho/lager.git", {tag, "3.2.0"}}}
]}.

{pre_hooks, [{compile, "config/generate-config.sh --deps ${BUILD_DEPS} --build-env ${BUILD_ENV}"}]}.

{overrides,
 [
  {override, rebar3_protobuffs_plugin, [{deps, [ {protobuffs, {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.2"}}}]}]},
  {override, protobuffs, [{deps, []}]},
  {override, riak_pb, [{plugins, [{riak_pb_msgcodegen,
                                   {git, "git://github.com/tsloughter/riak_pb_msgcodegen",
                                    {branch, "master"}}},
                                  {rebar3_protobuffs_plugin,
                                   {git, "git://github.com/cmkarlsson/rebar3_protobuffs_plugin",
                                    {tag, "0.1.1"}}}]},
                       {provider_hooks, [{pre, [{compile, {protobuffs, compile}},
                                                {compile, riak_pb_msgcodegen}]}]}]}
                                                ]
}.

{relx, [{release, {pcd_lib, "0.0.1"},
         [runtime_tools,
         pcd,
         ejson,
         jsx,
         lager,
         mixer,
         riakc]},
        {dev_mode, false},
        {include_erts, true},
        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"},
        {extended_start_script, true}]}.

{profiles, [
  {shell, [
    {deps, [
      {sync, {git, "https://github.com/rustyio/sync.git", {ref, "9c78e7b"}}}
    ]}
  ]}
]}.

%% == Shell ==

{shell, [{apps, [sync]}]}.
