%%
%% With the template sys.config we can define a generic sys.config which
%% will be processed later by the generate-config.sh script.
%% During the processing the variable references will be substituted with
%% the actual content of the variables depending on the build environment.
[{psh, [
    {riak_ip, ${riak_ip}},
    {riak_port, ${riak_port}}
 ]},
 {lager, [
     {log_root, ${logdir}},
     {handlers, [
         {lager_console_backend, info},
         {lager_file_backend, [{file, "pcd_server.log"},
                               {level, debug},
                               {size, 10485760},
                               {date, "$D0"},
                               {count, 5}]}
     ]},
     {crash_log_msg_size, 4096},
     {crash_log_size, 0},
     {crash_log_count, 0},
     {error_logger_redirect, true},
     {error_logger_hwm, 500},
     {async_threshold, 20},
     {async_threshold_window, 5}
 ]},
{gproc, [
    {gproc_dist, all}
 ]}
].
